<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href=<%=user_path(current_user) %>>Movemaker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
    </div>
  </div>
</nav>

<p class="userName" data-id="<%=@user.id%>"><%= "#{@user.name}'s Scheduled booking" %></p>
<a href="#" class="js-next" data-userid="<%=@user.id%>"data-id="<%= @booking.id %>">Next</a> | <a id="editLink" href="/users/<%=current_user.id%>/bookings/<%=@booking.id%>/edit">Edit Booking</a>
<br><br>
<h4 class="lessonName"><%= @booking.lesson.name %></h4>
<p class="lessonDate"><%= @booking.lesson.date %></p><p class="lessonTime"><%= @booking.lesson.time %></p><br>
<% if @booking.comments %>
<ul>
<% @booking.comments.each do |comment| %>
<li class="bookingComment"><%= comment.text %></li><a> <%= link_to "X", user_booking_comment_path(current_user, comment)%></a>
</ul>
<%end%>
<%end%>
<%= form_for @comment, url: user_booking_comments_path(current_user, @booking), method: :post do |f| %>
<%= f.hidden_field :user_id, value: current_user.id %>
<%= f.hidden_field :booking_id, value: @booking.id %>
<%= f.text_field :text, placeholder: "add note" %>
<%= f.submit "Post" %>
<%end%>



<!-- bootstrap override -->

<style>
footer {
  position: absolute;
  height: 20px;
  padding-top: 100px;
  bottom: 0;
  width: 100%;
}

p {
  -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    display: block;
    line-height: 1.6;
    font-size: 12px;
    letter-spacing: 1px;
    margin-left: 15px;
}
h4{
  margin-left: 15px;
}

li {
  margin-left: 15px;

  display: inline-block;
  vertical-align: baseline;
}
a {
  margin-left:15px;

}

.js-next {
  margin-left: 15px;
}
</style>
