<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href=<%=user_path(current_user) %>>Movemaker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=<%=logout_path %>>Log out</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=<%=edit_user_path %>>Edit profile settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=<%=lessons_path %>>All Lessons</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<%= render partial: "layouts/flash-errors" %>


<h2><%= @user.name %></h2>
<p><%= @user.email %></p>
<p>Level: <%= @user.level %></p>
<ul>
<% if !@user.admin %>
<% @user.bookings.each do |b| %>


    <p id="bold"><%= b.lesson.name %><br></p>

    <p><%= b.lesson.display_date %><br></p>
<p><%= link_to "Cancel Reservation", delete_booking_path(b) %></p>
<hr>

  <%end%>
<%end%>

</ul>

<!--Bootstrap override -->
<style>

footer {
  position: absolute;
  height: 20px;
  padding-top: 100px;
  bottom: 0;
  width: 100%;
}

h2 {
  -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    display: block;
    line-height: 1.6;
    font-size: 20px;
    letter-spacing: 1px;
    margin-left: 15px;
}

p {
  -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    display: block;
    line-height: 1.6;
    font-size: 12px;
    letter-spacing: 1px;
    margin-left: 15px;
}


#bold {
  text-decoration: underline;
}
</style>
