<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href=<%=user_path(current_user) %>>Movemaker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=<%=logout_path %>>Log out</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=<%=edit_user_path %>>Edit profile settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=<%=lessons_path %>>All Lessons</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<% if @user.admin %>
<h4 style="text-align: center;">WELCOME ADMIN</h4>
<%end%>
<h2 style="text-align: center;"><%= @user.name %></h2>
<p style="text-align: center; font-style: italic;"><%= @user.email %></p>
<% if !@user.admin %>
<p style="text-align: center;">Level: <%= @user.level %></p>
<hr>
<h2>Booked Lessons</h2>
<% @user.bookings.each do |b| %>
<ul>
  <li class="colored-links"> <%= b.lesson.display_date%></li>
  <li id="bold" ::before class="colored-links">  <%= link_to b.lesson.name, user_booking_path(@user,b) %></li>
   <li  id="bold" ::before class="colored-links"> <%= link_to "Manage booking", edit_user_booking_path(@user, b) %></li>
 </ul>


  <%end%>
<%end%>
</ul>
<!--Bootstrap override -->
<style>

footer {
  position: absolute;
  height: 20px;
  padding-top: 100px;
  bottom: 0;
  width: 100%;
}

h2 {
  -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    display: block;
    line-height: 1.6;
    font-size: 20px;
    letter-spacing: 1px;
    margin-left: 15px;
}
h4 {
  letter-spacing: 1px;
  margin-left: 15px;
  margin-top: 20px;
}

p {
  -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    display: block;
    line-height: 1.6;
    font-size: 12px;
    letter-spacing: 1px;
    margin-left: 15px;
}

 .colored-links {
    color: #50748a;
    background: none;
    border: 0;
    padding-bottom: 35px;
    margin: 0 0 0 -13px;
    text-align: center;
    float: none !important;
    padding: 0px !important;
  }
  #bold > *:before {
    content: "/";
    color: #aaa;
    margin: 0 2.2em;
    position: relative;
    top: 1px;
    box-sizing: border-box;
  }
  #bold > *:before:hover {
    color: #aaa;
  }
  a:hover {
    color: #aaa;
    text-decoration: none;
  }
li {
    display: inline-block;
    float: none;
  }

  #commentSection {
    margin-left: 15px;
  }



</style>
