<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href=<%=user_path(current_user) %>>Movemaker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
    </div>
  </div>
</nav>

<p><%= @lesson.name %></p>
<p><%= @lesson.display_date %></p>

<% if current_user.admin %>
<%= link_to "Edit lesson", edit_lesson_path(@lesson) %>
<%= link_to "Delete lesson", [@lesson], :method => :delete %>


<%else%>
<%= form_for @lesson, url: user_bookings_path(current_user), method: :post do |f| %>
<%= f.hidden_field :user_id, value: current_user.id %>
<%= f.hidden_field :lesson_id, value: @lesson.id %>
<%= f.submit "Book this lesson" %>
<%end%>


<%end%>
<style>

input[type="submit"] {
 background: #9ecfca;
 color: #4f738a;
 box-shadow: none;
 font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
 font-weight: 300;
 font-size: 1em;
 text-transform: uppercase;
 border: 0;
 letter-spacing: 1px;
 border-radius: 2px;
 max-height: 30px;
 margin-left: 15px;
 align: center;
}

footer {
  position: absolute;
  height: 20px;
  padding-top: 100px;
  bottom: 0;
  width: 100%;
}

p {
  -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    display: block;
    line-height: 1.6;
    font-size: 12px;
    letter-spacing: 1px;
    margin-left: 15px;
}

a {
  margin-left: 15px;
}
</style>
